<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>关于我们</title>
    <link rel="stylesheet" href="/statics/css/reset.css"/>
    <link rel="stylesheet" href="/statics/css/aboutUs.css"/>
</head>
<body>
<div class="wrap">
    <h2 class="logo"><img src="/statics/images/logo.png" class="dsb w100" alt=""/></h2>

    <p class="content">号外，是众媒时代基于信息挖掘技术的资讯阅读软件，旨在打破媒体传播闭环，构建开放式的传播生态，通过传统媒体与众媒时代新生媒体的融合，运用大数据分析技术，为用户定制推荐全面、独特、便于分享的资讯内容。</p><br/>
    <p class="content">号外1.0版本于2015年12月上线，目前已与诸多媒体/媒体人建立密切合作关系，欢迎更多媒体/媒体人的入驻，共筑众媒新时代。</p><br/>
    <p class="content">在生活里发现美好，在美好中传递幸福。用号外，让我们将阅读的美好延续下去。</p><br/>
    <p class="content">号外，一定要看！</p>
</div>
</body>
</html>