<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>个人主页</title>
    <link rel="stylesheet" href="/statics/css/reset.css"/>
    <link rel="stylesheet" href="/statics/css/input_search.css"/>
</head>
<body>
<div class="wrap">
    <div class="search clearfix">
        <div class="searchBox fl psr">
            <input type="text" class="searchTxt w100 dsb" placeholder="搜索感兴趣的公众号" value="雪"/>
            <span class="searchIcon input_txt dsb psa"></span><!-- input_txt: 输入搜素词 -->
            <span class="delIcon dsb psa"></span>
        </div>
        <a href="#" class="cancel dsb fl">取消</a>
    </div>
    <div class="suggest w100 clearfix">
        <ul>
            <li><a href="#" class="dsb c333">雪</a></li>
            <li><a href="#" class="dsb c333">大雪</a></li>
            <li><a href="#" class="dsb c333">暴风雪</a></li>
            <li><a href="#" class="dsb c333">鹅毛大雪</a></li>
        </ul>
    </div>
    <div class="clearRec"><a href="javascript:;" class="dsb c333">清空历史记录</a></div>
</div>
</body>
</html>