<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>APP用户注册协议</title>
    <link rel="dns-prefetch" href="//haowai.v1.cn/">
    <link rel="stylesheet" href="/statics/css/reset.css"/>
    <link rel="stylesheet" href="/statics/css/xieyi.css"/>
</head>
<body>
<div class="wrap">
    <p>本《用户协议》（以下简称“本协议”）是您(以下也可以“用户”来指代您)与第一视频（北京）网络技术有限公司(以下简称“第一视频”)就使用“号外”产品所达成的协议。在您开始使用“号外”产品之前，请您务必应认真阅读(未成年人应当在监护人陪同下阅读)并充分理解本协议，特别涉及是免除或者限制第一视频责任的条款和开通和使用特殊单项服务的条款。</p>
    <p>除非您完全接受本协议的全部内容，否则您无权使用“号外”产品。若您使用“号外”产品，则视为您已充分理解本协议并承诺作为协议的一方当事人接受协议的约束。</p>
    <h2>1、协议适用范围</h2>
    <p class="sub">1.1 本协议约定了第一视频和用户之间就使用“号外”事宜发生的权利义务关系。</p>
    <p class="sub">1.2 “第一视频”指第一视频（北京）网络技术有限公司。但就本协议涉及的某些服务项目，第一视频的关联企业也可能向您提供服务，与您发生权利义务关系。</p>
    <p class="sub">1.3 用户指任何以合法的方式获取和使用“号外”产品的人。</p>
    <p class="sub">1.4 “号外”产品指一款由第一视频合法拥有并运营的、标注名称为“号外”的移动客户端应用程序及以及对应的域名为 “www.myhaowai.com” 的移动网站。</p>
    <h2>2、使用“号外”产品</h2>
    <p class="sub">2.1 用户可以从任何合法的渠道下载“号外”软件程序到其合法拥有的终端设备中。但除非得到特别的授权，否则，用户不得以任何形式改编、复制或交易“号外”软件程序。</p>
    <p class="sub">2.2 一旦用户在其终端设备中打开“号外”，即视为使用“号外”产品。为充分实现“号外”的全部功能，用户可能需要将其终端设备联网。</p>
    <p class="sub">2.3 第一视频授权用户拥有中华人民共和国境内永久地、不可转让的、非独占地和非商业性地使用“号外”产品的权利，但该权利不可转让，第一视频也保留在任何必要情形下收回该授权的权利。</p>
    <p class="sub">2.3 第一视频授权用户拥有中华人民共和国境内永久地、不可转让的、非独占地和非商业性地使用“号外”产品的权利，但该权利不可转让，第一视频也保留在任何必要情形下收回该授权的权利。</p>
    <h2>3、关于“帐号”</h2>
    <p class="sub">3.1 “号外”为用户提供了注册通道，用户在有权选择合法的字符组合作为自己的帐号，并自行设置符合安全要求的密码。用户设置的帐号、密码是用户用以登录“号外”，并以注册用户身份使用产品或接受服务的凭证。</p>
    <p class="sub">3.2 您在“号外”中的注册账号仅限于您本人使用，禁止赠与、借用、出租或售卖。如果第一视频发现或者有理由怀疑使用者并非帐号初始注册人，则有权在未经通知的情况下，暂停或终止向该注册账号提供服务，并有权注销该帐号，而无需向注册该帐号的用户承担法律责任。由此带来的包括并不限于用户通讯中断、用户资料和信息等清空等损失由用户自行承担。</p>
    <p class="sub">3.3 用户有责任维护个人帐号、密码的安全性与保密性，用户就以其注册帐号名义所从事的一切活动负全部责任，包括用户数据的修改、发表的言论以及其他在“号外”客户端上的操作行为。因此，用户应高度重视对帐号与密码的保密，若发现他人未经许可使用其帐号或发生其他任何安全漏洞问题时立即通知第一视频。但无论因何种原因发生的密码泄露，均应由用户自行承担责任。</p>
    <p class="sub">3.4 用户帐号在丢失或遗忘密码后，可遵照第一视频的申诉途径及时申诉请求找回帐号。用户应提供能增加帐号安全性的个人密码保护资料。用户可以凭初始注册资料及个人密码保护资料填写申诉单向第一视频申请找回帐号，第一视频的密码找回机制仅负责识别申诉单上所填资料与系统记录资料的正确性，而无法识别申诉人是否系真正帐号有权使用人。对用户因被他人冒名申诉而致的任何损失，第一视频不承担任何责任，用户知晓帐号及密码保管责任在于用户，第一视频并不承诺帐号丢失或遗忘密码后用户一定能通过申诉找回帐号。</p>
    <p class="sub">3.5 用户应保证注册帐号时填写的身份信息的真实性，任何由于非法、不真实、不准确的用户信息所产生的责任由用户承担。用户应不断更新注册资料，符合及时、详尽、真实、准确的要求。所有原始键入的资料将被引用为用户的帐号注册资料。如果因用户的注册信息不真实而引起的问题，以及对问题发生所带来的后果，第一视频不负任何责任。如果用户提供的信息不准确、不真实、不合法或者第一视频有理由怀疑为错误、不实或不合法的资料或在个人资料中发布广告、不严肃内容及无关信息，第一视频有权暂停或终止向用户提供服务，注销该帐号，并拒绝用户现在和未来使用“号外”产品的全部或任何部分。因此产生的一切损失由用户自行承担。</p>
    <p class="sub">3.6 除自行注册“号外”帐号外，用户也可选择通过“号外”的帐号管理后台，授权使用其合法拥有的新浪微博、腾讯QQ、腾讯微信的帐号注册并登录“号外”。当用户以上述已有账号注册的，同样适用本协议中对账号的相关约定。</p>
    <h2>4、用户行为的合法性要求</h2>
    <p class="sub">4.1 用户在使用“号外”的产品时，应当遵守中华人民共和国的法律。用户不得利用第一视频服务产品从事上述法律法规、政策以及侵犯他人合法权利的行为。</p>
    <p class="sub">4.2 您不得使用未经第一视频授权或许可的任何插件、外挂或第三方工具对“号外”产品的正常运行进行干扰、破坏、修改或施加其他影响。</p>
    <p class="sub">4.3 您不得利用或针对“号外”产品进行任何危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器/帐户；未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；未经许可，企图探查、扫描、测试“号外”产品系统或网络的弱点或其它实施破坏网络安全的行为；企图干涉、破坏“号外”产品系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；伪造TCP/IP数据包名称或部分名称。</p>
    <p class="sub">4.4 未经第一视频许可，您不得在“号外”中进行任何诸如发布广告、销售商品的商业行为。</p>
    <p class="sub">4.5 在任何情况下，如果第一视频有理由认为用户的任何行为违反或可能违反上述约定的，第一视频可在任何时候不经任何事先通知终止向用户提供服务。</p>
    <h2>5、用户个人信息保护</h2>
    <p class="sub">5.1 您在注册帐号或使用“号外”产品的过程中，可能需要填写一些必要的信息。若国家法律法规有特殊规定的，您需要填写真实的身份信息。若您填写的信息不完整，则无法使用相关产品或服务或在使用过程中受到限制。</p>
    <p class="sub">5.2 您可随时浏览、修改自己提交的个人身份信息，但出于安全性和身份识别（如号码申诉服务）的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。</p>
    <p class="sub">5.3第一视频将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。但用户同时明白，互联网的开放性以及技术更新非常快，非第一视频可控制的因素导致用户信息泄漏的，第一视频不承担责任。</p>
    <p class="sub">5.4 第一视频不会将您的个人信息转移或披露给任何非关联的第三方，除非：</p>
    <p class="sub_c">（1）相关法律法规或法院、政府机关要求；或</p>
    <p class="sub_c">（2）为完成合并、分立、收购或资产转让而转移；或</p>
    <p class="sub_c">（3）为提供您要求的服务所必需。</p>
    <p class="sub">5.5请用户注意勿在使用“号外”中透露自己的各类财产帐户、银行卡、信用卡、第三方支付账户及对应密码等重要资料，否则由此带来的任何损失由用户自行承担。用户不应将自认为隐私的信息通过“号外”发表、上传或扩散。</p>
    <p class="sub">5.6 在以下情况下，第一视频有权使用用户的个人信息：</p>
    <p class="sub_c">（1）在进行促销或抽奖时，第一视频可能会与赞助商共享用户的个人信息，在这些情况下第一视频会在发送用户信息之前进行提示，并且用户可以通过不参与促销或抽奖活动来终止传送过程；</p>
    <p class="sub_c">（2）第一视频可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与第一视频同等的保护用户隐私的责任，则第一视频有权将用户的注册资料等提供给该第三方；</p>
    <p class="sub_c">（3）在不透露单个用户隐私资料的前提下，第一视频有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
    <h2>6、用户跟帖评论规则</h2>
    <p class="sub">6.1 用户在注册后，可以以注册账号登录“号外”并对所阅读的内容发表评论。</p>
    <p class="sub">6.2 第一视频致力使跟帖评论成为文明、理性、友善、高质量的意见交流。在推动跟帖评论业务发展的同时，不断加强相应的信息安全管理能力，完善跟帖评论自律，切实履行社会责任，遵守国家法律法规，尊重公民合法权益，尊重社会公序良俗。</p>
    <p class="sub">6.3 用户应当以真实身份信息注册账号、使用跟帖评论服务。</p>
    <p class="sub">6.4第一视频承诺、并诚请所有用户，使用跟帖评论服务将自觉遵守不得逾越法律法规、社会主义制度、国家利益、公民合法权益、社会公共秩序、道德风尚和信息真实性等“七条底线”。</p>
    <p class="sub">6.5 用户不得发表下列信息：</p>
    <p class="sub_c">（1）反对宪法确定的基本原则的；</p>
    <p class="sub_c">（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
    <p class="sub_c">（3）损害国家荣誉和利益的；</p>
    <p class="sub_c">（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
    <p class="sub_c">（5）煽动地域歧视、地域仇恨的；</p>
    <p class="sub_c">（6）破坏国家宗教政策，宣扬邪教和迷信的；</p>
    <p class="sub_c">（7）散布谣言，扰乱社会秩序、破坏社会稳定的；</p>
    <p class="sub_c">（8）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
    <p class="sub_c">（9）侮辱或者诽谤他人，侵害他人合法权益的；</p>
    <p class="sub_c">（10）对他人进行暴力恐吓、威胁，实施人肉搜索的；</p>
    <p class="sub_c">（11）未获得未满18周岁未成年人法定监护人的书面同意，传播该未成年人的隐私信息的；</p>
    <p class="sub_c">（12）散布污言秽语，损害社会公序良俗的；</p>
    <p class="sub_c">（13）侵犯他人知识产权的；</p>
    <p class="sub_c">（14）散布商业广告，或类似的商业招揽信息；</p>
    <p class="sub_c">（15）使用本网站常用语言文字以外的其他语言文字评论的；</p>
    <p class="sub_c">（16）与所评论的信息毫无关系的；</p>
    <p class="sub_c">（17）所发表的信息毫无意义的，或刻意使用字符组合以逃避技术审核的；</p>
    <p class="sub_c">（18）法律、法规和规章禁止传播的其他信息。</p>
    <p class="sub">6.6 对违反上述承诺的用户，第一视频将视情况采取预先警示、拒绝发布、删除跟帖、短期禁止发言直至永久关闭账号等管理措施。对涉嫌违法犯罪的跟帖评论将保存在案、并在接受有关政府部门调查时如实报告。</p>
    <p class="sub">6.7 第一视频将完善公众举报平台，欢迎用户监督举报各类不法传播活动和违法有害信息，以共同营造清朗的网络空间。</p>
    <h2>7、服务的变更、中断和终止</h2>
    <p class="sub">7.1您理解并同意，第一视频提供的“号外”产品和服务是按照现有技术和条件所能达到的现状提供的。第一视频会尽最大努力向您提供服务，确保服务的连贯性和安全性；但第一视频不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。</p>
    <p class="sub">7.2 用户须明白，第一视频为了服务整体运营的需要，有权在公告通知后，在不事先通知用户的情况下修改、中断、中止或终止“号外”产品内的各项服务，而无须向用户或第三方负责或承担任何赔偿责任。</p>
    <h2>8、知识产权</h2>
    <p class="sub">8.1 未经相关权利人同意，用户不得对“号外”的产品和服务涉及的相关网页、应用、软件等产品进行反向工程、反向汇编、反向编译等。</p>
    <p class="sub">8.2 用户应保证，在使用“号外”的产品和服务时上传的文字、图片、视频、软件以及表演等的信息不侵犯任何第三方知识产权。否则，第一视频有权移除该侵权信息，并对此不负任何责任。前述第三方提出权利主张，用户应自行承担责任，并保证第一视频不会因此而遭受任何损失。</p>
    <h2>9、法律责任声明</h2>
    <p class="sub">9.1 第一视频对于任何自本网站而获得的他人的信息、内容或者广告宣传等任何资讯(以下统称“信息”)，不负保证真实、准确和完整性的责任。如果任何单位或者个人通过上述“信息”而进行任何行为，须自行甄别真伪和谨慎预防风险，否则，无论何种原因，第一视频不对任何非与本网站直接发生的交易和(或)行为承担任何直接、间接、附带或衍生的损失和责任。</p>
    <p class="sub">9.2 第一视频不保证(包括但不限于)：</p>
    <p class="sub_c">（1）第一视频完全适合用户的使用要求；</p>
    <p class="sub_c">（2）第一视频不受干扰，及时、安全、可靠或不出现错误；用户经由第一视频取得的任何产品、服务或其他材料符合用户的期望；</p>
    <p class="sub_c">（3）软件中任何错误都将能得到更正。</p>
    <p class="sub">9.3 基于以下原因而造成的利润、商业信誉、资料损失或其他有形或无形损失，第一视频不承担任何直接、间接、附带、特别、衍生性或惩罚性的赔偿责任(即使第一视频事先已被告知发生此种赔偿之可能性亦然)：</p>
    <p class="sub_c">（1）对第一视频的使用或无法使用；</p>
    <p class="sub_c">（2）第一视频不受干扰，及时、安全、可靠或不出现错误；用户经由第一视频取得的任何产品、服务或其他材料符合用户的期望；</p>
    <p class="sub_c">（3）软件中任何错误都将能得到更正。</p>
    <p class="sub_c">（4）任何第三方在本服务中所作的声明或行为；</p>
    <p class="sub_c">（5）用户基于在“号外”中发布的广告信息，向第三方购买商品或服务；</p>
    <p class="sub_c">（6）其他与第一视频相关的事宜，但本用户协议有明确规定的除外。</p>
    <h2>10、违约责任</h2>
    <p class="sub">用户因违反国家法律法规或本协议的约定或用户侵害他人任何权利因而衍生或导致任何第三人向第一视频提出任何索赔或请求，包括但不限于诉讼费用、律师费用、差旅费用、和解金额、罚款或生效法律文书中规定的损害赔偿金额、软件使用费等而给第一视频造成损失的，用户应赔偿第一视频因此而遭受的一切损失，并消除影响。</p>
    <h2>11、其他条款</h2>
    <p class="sub">11.1本协议的订立、执行和解释及争议的解决均应适用中国法律。倘本协议之任何规定因与中华人民共和国法律抵触而无效，则这些条款将尽可能接近本协议原条文意旨重新解析，且本协议其它规定仍应具有完整的效力及效果。本协议的签署地点为第一视频公司所在地北京市海淀区，若用户与第一视频发生争议的，双方同意将争议提交北京市海淀区法院诉讼解决。</p>
    <p class="sub">11.2本协议可能因国家政策、产品以及履行环境发生变化而进行修改，第一视频会将修改后的协议发布在网站上。若您对修改后的协议有异议的，请立即停止登录、使用“号外”产品及服务，若您登录或继续使用“号外”产品及服务，视为认可修改后的协议。</p>

</div>
</body>
</html>