<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>个人主页</title>
    <link rel="stylesheet" href="/statics/css/reset.css"/>
    <link rel="stylesheet" href="/statics/css/search.css"/>
</head>
<body>
<div class="wrap">
    <div class="search clearfix">
        <div class="searchBox psr">
            <input type="text" class="searchTxt w100 dsb" autocomplete="on" placeholder="搜索感兴趣的内容" value=""/>
            <span class="searchIcon dsb psa"></span>
        </div>
    </div>
</div>
</body>
</html>