<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script language="javascript" src="//imgcache.gtimg.cn/c/=/tencentvideo_v1/tvp/js/tvp.player_v2_inews.js,/tencentvideo_v1/js/txv.gettvpconfig.js?max_age=604800&v=20151106" charset="utf-8"></script>
<!--    <script type="text/javascript">
         var aa = '<p><iframe class="video_iframe" src="http://img.haowai.v1/video/f0164x6w0mq.mp4" allowfullscreen scrolling="no" style="max-width: 100%; "></iframe></p>';
         aa = aa.replace(/<iframe(.+)<\/iframe>/g , function($1){
                    var  src = $1.match(/(http:\/\/.+\.mp4)/g);
                    return  '<video aaa="'+src[0]+'">';
         });
        console.log(aa);
    </script>-->
    <script>

    </script>
</head>
<body>

</body>
</html>